<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marwen.projetpidevfinal2017">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loginRegisterreset.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginRegisterreset.Login" />
        <activity android:name=".loginRegisterreset.Register" />
        <activity android:name=".loginRegisterreset.Reset" />
        <activity android:name=".loginRegisterreset.Confirm" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".admin.AddMatdisponible" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".User.AjoutMatrielNonDispo" />
        <activity android:name=".admin.ListMatdispo" />
        <activity android:name=".User.MainActivity" />
        <activity android:name=".admin.Detail" />
        <activity android:name=".Reclamation" />
        <activity android:name=".User.Basket" />
        <activity android:name=".loginRegisterreset.AfterSplash" />
        <activity android:name=".loginRegisterreset.SecondInscrip" />
        <activity android:name=".EditProfile" />
        <activity android:name=".admin.AdminMainActivity" />
        <activity android:name=".admin.ListMatNondispo" />
        <activity android:name=".admin.DeatailMatNonDispo" />
        <activity android:name=".admin.WebView"></activity>
    </application>

</manifest>